.item {
    padding: 8px;
    margin-bottom: 30px;
    border: rgba(17, 17, 17, 0.041) solid 2px;
}
.item-detail a {
    text-decoration: inherit;
    color: inherit;
}
.item h3 {
    font-family: Catamaran;
    font-size: 18px;
    color: #111;
    line-height: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.116);
}

.item h3 span {
    font-family: Catamaran;
    font-size: 14px;
    color: rgba(17, 17, 17, 0.651);
    line-height: 20px;
    display: block;
    text-align: left;
    border-left: 3px solid rgba(17, 17, 17, 0.651);
    padding: 0 10px 0 10px;
}

.item .item-img {
    /* margin: 16px 16px 0; */
    width: calc(100%);
    /* height: 100px; */
    position: relative;
    /* text-align: center; */
    overflow: hidden;
}
.overlay {
    cursor: pointer;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* flex-direction: column; */
    background: rgba(0, 0, 0, 0.85);
    /* width: 100%; */
    /* height: 40%; */
    position: absolute;
    /* top: auto; */
    bottom: 0px;
    opacity: 0.85;
    transition: opacity 0.5s ease;

    font-family: Catamaran;
    font-size: 14px;
    color: white;
    padding: 10px;
    margin-bottom: 3px;
    text-align: left;
    font-weight: 100;
}
.item .image {
    /* height: 100%; */
    max-height: calc(100vh - 300px);
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.5s ease;
}

.item .fa {
    padding-right: 10px;
}

@media only screen and (min-width: 1000px) {
    .item h3 {
        padding: 10px 0px 0px 0px;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 40px;
        text-align: left;
    }
    .item h3 span {
        margin: 0px 0px 0px 10px;
        text-align: right;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        /* float: right; */
    }

    .overlay {
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 20px;
        padding: 20px;
        margin-bottom: 0px;
    }
    .item-img:hover img {
        transform: scale(1.1);
        transition: transform 0.5s;
    }
    .item-img:hover .overlay {
        opacity: 0.85;
        transition: opacity 0.5s;
    }
}

/* TAB MENU */
.tabPanel {
    padding: 0px 0px 10px 0px;
    margin: 8px;
}

.item-education {
    margin-bottom: 20px;
}
.tabContainer .buttonContainer {
    height: 35px;
    margin-bottom: 10px;
    padding: 0px 8px 10px 8px;
    position: fixed;
    /* overflow: hidden; */
    width: calc(100vw - 16px);
    background-color: white;
    z-index: 1000;
}
.tabContainer .buttonContainer button {
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    /* border: solid rgba(0, 0, 0, 0.219) 1px; */
    /* background-color: rgba(0, 0, 0, 0.13); */
    outline: none;
    float: left;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 500;
    /* color: rgba(17, 17, 17, 0.8); */
}

.tabContainer .buttonContainer button:hover {
    background-color: red;
    /* color: white; */
}

/* EDUCATION TAB */
.item-detail li {
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    list-style: none;
    margin-bottom: 3px;
}

.item-li-span {
    width: 70px;
    margin: 0px 0px 0px 10px;
    text-align: right;
    float: right;
    /* line-height: 14px; */
    display: inline-block;

    font-family: Catamaran;
    font-size: 14px;
    color: #111;
    line-height: 16px;
    /* display: block; */
    text-align: left;
    border-left: hidden;
    border-right: 2px solid rgba(17, 17, 17, 0.651);
    padding: 0 10px 0 10px;
    font-weight: 400;
}

.item-li-detail {
    width: 300px;
    font-family: Catamaran;
    font-size: 14px;
    line-height: 16px;
    color: #111;
    padding-left: 25px;
    margin-bottom: 10px;
    font-weight: 400;
}

.tab-content {
    padding-top: 50px;
}

@media only screen and (min-width: 1000px) {
    .tabContainer .buttonContainer {
        width: 984px;
    }
    .item h3 {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .item-detail li {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .item-li-detail {
        /* display: inline; */
        float: right;
        text-align: left;
        margin-bottom: 0px;
        /* border-right: 2px solid rgba(17, 17, 17, 0.651); */
        padding-right: 10px;
    }
    .item-li-span {
        text-align: left;
    }
}

/* ABOUT TAB */
.item-about {
    /* height: calc(100vh - 150px - 16px); */
    /* min-height: 500px; */
}

.profile-pic {
    padding: 30px 60px 20px 60px;
    height: calc(100vw - 155px);
    width: calc(100vw - 155px);
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.about {
    background: linear-gradient(-45deg, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.4));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: inherit;
    vertical-align: bottom;
    /* position: relative; */
}
.profile-pic-container {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    /* height: inherit; */
}

.profile-content {
    /* background-color: khaki; */
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    /* height: 250px; */
    vertical-align: bottom;
}
.about h3 {
    color: white;
    text-align: center !important;
}

.profile-pic-container h3 {
    font-size: 26px;
    color: white !important;
}

.title-span {
    text-align: center !important;
    border-left: hidden !important;
    color: white !important;
    font-weight: 100 !important;
}
.contact ul {
    padding: 10px 10px 10px 20px;
}

.contact li {
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    list-style: none;
    margin-bottom: 5px;
}

.contact li a {
    font-family: Catamaran;
    color: white;
}

.contact .fa {
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media only screen and (min-width: 1000px) {
    .item-about {
        height: auto;
    }
    .profile-pic {
        padding: 30px 40px 30px 40px;
        height: 200px;
        width: 200px;
    }
    .about {
        display: flex;
        position: static;
    }
    .profile-content {
        position: relative;
        padding-left: 50px;
        padding-top: 10px;
        width: auto;
    }

    .profile-content h3 {
        text-align: left !important;
    }
}
