.progress-container {
    background-color: white;
    border-radius: 13px;
    padding: 1px;
}

.progress-container > div {
    background-color: orange;
    height: 20px;
    border-radius: 10px;
}
